<div class="container">
  <h2>Hello Admin</h2>
<hr>
  <p>Here you will be able to edit all your IronProducts</p>
  <table class="table tablestriped">
    <thead>
        <tr>
          <th>Name</th>
          <th>Image URL</th>
          <th>Color</th>
          <th>Price</th>
          <th>Edit</th>
        </tr>
    </thead>
    <tbody>
      <% listOfProducts.forEach((product) => { %>
        <%=product.edit%>
      <tr>
        <% if(product.edit) { %>
          <td><input><%=product.name%></input></td>
          <td><input><%=product.image%></input></td>
          <td><input><%=product.color%></input></td>
          <td><input><%=product.price%></input></td>
          <td><button action="/updateProduct" method="POST">Save</button></td>
        <% } else { %>
          <td><%=product.name%></td>
          <td><%=product.image%> </td>
          <td><%=product.color%></td>
          <td><%=product.price%></td>
          <td><a href="/updateProduct/<%= product.id %>" type="btn btn-primary">Edit</a></td>
          <% product.edit = true %>
        <% } %>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<br>
<hr>

<h3>Here you can add a new product</h3><br>
<form class="form-horizontal" action="/edit" method= "POST">
  <div class="form-group">
    <label class="control-label col-sm-2">Name:</label>
    <input type="text" placeholder="Enter name" name="name" width="100%">
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Image URL:</label>
    <input type="text" placeholder="Enter image URL" name="image" width="100%">
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Color:</label>
    <input type="text" placeholder="Enter product color" name="color" width="100%">
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Price:</label>
    <input type="text" placeholder="Enter price" name="price" width="100%">
  </div>
  <button type="submit" class="col-sm-4">Save product</input>
</form>
