<hr>
<div class="container bootstrap snipets">
    <h1 class="text-center text-muted">Product catalog</h1>

    <hr>
    <br>

    <div class="row flow-offset-1"></div>
        <% listOfProducts.forEach((product) => { %>
        <div class="row flow-offset-1">
            <div class="col-xs-6 col-md-4">
                <div class="product tumbnail thumbnail-3"><img src="<%= product.image %>"</a>
                <div class="caption">
                    <h6><%= product.name %></h6><span class="price">
                    <span class="price sale">$<%= product.price %></span>
                    <a href="/add-to-cart/<%= product.name %>/<%= product.price %>" class="fa fa-cart">Shopping Cart</a>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>
